@model dynamic

<h2>User Information</h2>


<h3>User Details</h3>

<p><strong>Sub:</strong> @Model.UserInfo.Sub</p>
<p><strong>Name:</strong> @Model.UserInfo.Name</p>
<p><strong>ServiceNo:</strong> @Model.UserInfo.ServiceNo</p>
<p><strong>Designation:</strong> @Model.UserInfo.Designation</p>
<p><strong>Phone:</strong> @Model.UserInfo.Phone</p>
<p><strong>Section:</strong> @Model.UserInfo.Section</p>
<p><strong>Group:</strong> @Model.UserInfo.Group</p>
<p><strong>Email:</strong> @Model.UserInfo.Email</p>
<p><strong>Grade:</strong> @Model.UserInfo.Grade</p>
<p><strong>Division:</strong> @Model.UserInfo.Division</p>

<p>@ViewBag.UserInfo.Grade</p>