@model IEnumerable<GatePass_Project.Models.DispatchModel>


@{
    ViewData["Title"] = "Dispatch Page";
}

<div class="text-center page-title">
    <h1 class="display-4" style="font-size: 30px;">Dispatch</h1>
</div>

<br>


<div>
    <table class="table">
        <!-- Column headers for Pending -->
        <thead>
            <tr>
                <th>Ref. No</th>
                <th>Employee Name</th>
                <th>Sender Service No</th>
                <th>In Location</th>
                <th>Out Location</th>
                <th>Receiver Service No</th>
                <th>Created Date</th>
                <th>EO Service No</th>
                <th>Carrier NIC No</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <!-- Data for Pending -->
                <tr>
                    <td>@request.Request_ref_no</td>
                    <td>@request.Name</td>
                    <td>@request.Sender_service_no</td>
                    <td>@request.In_location_name</td>
                    <td>@request.Out_location_name</td>
                    <td>@request.Receiver_service_no</td>
                    <td>@request.Created_date.ToShortDateString()</td>
                    <td>@request.ExO_service_no</td>
                    <td>@request.Carrier_nic_no</td>
                    <td>


                        <div class="p-3">
                            <div class="row d-flex justify-content-between">
                                <div class="col-6 p-1">
                                    <a href="@Url.Action("ViewDispatchDetails", "Dispatch", new { id = request.Request_ref_no })" class=""><button class="btn btn-secondary btn-sm text-decoration-none w-100">View</button></a>
                                </div>
                                <div class="col-6 p-1">
                                    <form method="post" asp-action="Dispatch">
                                        <input type="hidden" name="requestRefNo" value="@request.Request_ref_no" />
                                        <button type="submit" class="btn btn-success btn-sm text-decoration-none">Dispatch</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <form method="post" asp-action="Reject" class="reject-form p-0">
                                    <input type="hidden" name="requestRefNo" value="@request.Request_ref_no" />
                                    <div class="form-group">
                                        <textarea class="form-control reject-comment" id="rejectComment" name="rejectComment" rows="4" style="display: none;"></textarea>
                                    </div>
                                    <div class="d-flex align-items-center  p-1 w-100">
                                        <button type="button" class="btn btn-danger btn-sm w-100  toggle-reject-comment text-decoration-none m-0">Reject</button>
                                        <button type="submit" class="btn btn-danger btn-sm w-100 submit-reject-comment text-decoration-none m-0" style="display: none;">Reject</button>
                                        <div class="ml-2">
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </td>


                </tr>


            }
        </tbody>
    </table>
</div>











<!-- JavaScript (jQuery) for Tab Toggle and URL update -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {


        // Toggle reject comment visibility
        $(".toggle-reject-comment").click(function () {
            var form = $(this).closest(".reject-form");
            form.find(".reject-comment").toggle();
            form.find(".toggle-reject-comment").toggle();
            form.find(".submit-reject-comment").toggle();
        });
    });
</script>


<style>
    #myTabs a {
        color: #000000;
        background: #f5f5f5;
        border-width: 1px solid #000000;
    }

    table, th, td {
        border: 1px solid #000000;
    }

    .table {
        font-size: 13px;
        border-spacing: 0 15px;
        width: 100%;
    }

        .table th {
            background-color: #f5f5f5;
            font-weight: bold;
        }

        .table td {
            background-color: #ffffff;
            border: 1px solid #333;
            padding: 10px;
        }
    /* Custom style for buttons */
    .btn {
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        margin-right: 5px;
        cursor: pointer;
    }

        /* Hover style for buttons */
        .btn:hover {
            text-decoration: underline;
        }

    /* Custom styles for button colors */
    .btn-success {
        background-color: #28a745; /* Green color for "Verify" button */
        color: #fff; /* White text color */
    }

    .btn-danger {
        background-color: #dc3545; /* Red color for "Reject" button */
        color: #fff; /* White text color */
    }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>